* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "DM Sans", sans-serif;
}

#content {
  margin: auto;
  width: 1240px;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

img, video {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  width: 100%;
}

h1 {
  color: #901c1c;
  font-size: 2.2rem;
}

.logo {
  height: 50px;
}

.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px 166px;
  margin-top: 100px;
}
.photographer-section article {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.photographer-section article h2 {
  color: #d3573c;
  font-size: 2.25rem;
}
.photographer-section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}
.photographer-section__location {
  font-size: 0.8125rem;
  color: #901c1c;
}
.photographer-section__tagline {
  font-size: 0.625rem;
}
.photographer-section__price {
  font-size: 0.5625rem;
  color: #757575;
}
.photographer-section a {
  border-radius: 50%;
}

.photograph-banner {
  background-color: #fafafa;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.photograph-banner .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px 50px;
}
.photograph-banner .banner h1 {
  font-size: 4rem;
  color: #d3573c;
  margin-right: 0;
  margin-bottom: 27px;
}
.photograph-banner .banner img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.photograph-banner__location {
  font-size: 1.5rem;
  color: #901c1c;
  margin-bottom: 31px;
}
.photograph-banner__tagline {
  font-size: 1.125rem;
  color: #525252;
}

.photograph-main {
  margin-bottom: 100px;
}
.photograph-main #sort-container {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.photograph-main #sort-container p {
  font-size: 1.125em;
  font-weight: bold;
  color: black;
  margin-right: 25px;
}
.photograph-main #sort-container .sort-button {
  background-color: #901c1c;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 1.125em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  width: 170px;
}
.photograph-main #sort-container .sort-button:focus {
  border-radius: 5px 5px 0px 0px;
}
.photograph-main #sort-container .sort-button .arrow {
  margin-left: 25px;
}
.photograph-main #sort-container .sort-menu {
  display: none;
  position: absolute;
  background-color: #901c1c;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  width: 170px;
}
.photograph-main #sort-container .sort-menu .sort-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: white;
  padding: 15px 10px;
  cursor: pointer;
  border-top: 1px solid white;
  font-size: 1.125em;
  font-weight: bold;
}
.photograph-main #divAllMedia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 95px;
}
.photograph-main #divAllMedia img,
.photograph-main #divAllMedia video,
.photograph-main #divAllMedia button {
  height: 300px;
  width: 350px;
}
.photograph-main #divAllMedia .media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.photograph-main #divAllMedia .media .title {
  font-size: 1.5rem;
  color: #901c1c;
  margin-right: 20px;
}
.photograph-main #divAllMedia .media .heart-button {
  height: auto;
  width: auto;
}
.photograph-main #divAllMedia .media .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  color: #901c1c;
}
.photograph-main #divAllMedia .media .likes i {
  margin-left: 5px;
  margin-top: 1px;
}
.photograph-main aside {
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 3%;
  width: 375px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px 5px 0 0;
}
.photograph-main aside p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 30px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal .closeModalBtn {
  position: inherit;
  right: 35px;
  top: 35px;
}

.contact_modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 670px;
  padding: 35px;
}
.contact_modal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
.contact_modal div h1 {
  font-size: 4rem;
  font-weight: normal;
  color: black;
  line-height: 1;
  margin-top: -8px;
  margin-bottom: 50px;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 2.25rem;
}
form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}
form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  margin-bottom: 26px;
  font-size: 1.125rem;
}
form button {
  font-size: 1.125rem;
  color: white;
  background-color: #901c1c;
  width: 170px;
  height: 70px;
  border: none;
  border-radius: 5px;
}

.backgroundModal {
  position: fixed;
  background-color: rgba(196, 196, 196, 0.4);
  width: 100%;
  height: 100%;
}
.backgroundModal.whiteBg {
  background-color: white;
}

.bigPicture div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 35px;
}
.bigPicture div #prevPicture {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.bigPicture div .arrow,
.bigPicture div .arrow img {
  width: 30px;
  height: 50px;
}
.bigPicture div img,
.bigPicture div video {
  width: 1050px;
  height: 900px;
}
.bigPicture p {
  position: relative;
  left: 65px;
  top: 17px;
  font-size: 1.5rem;
  color: #901c1c;
}

.closeLightBox {
  position: relative;
  left: 1150px;
  top: -917px;
}/*# sourceMappingURL=main.css.map */